pkgbase = pymdown-extensions
	pkgdesc = Extensions for Python Markdown
	pkgver = 7.0.0
	pkgrel = 1
	url = http://facelessuser.github.io/pymdown-extensions/
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python-markdown>=3.2
	source = https://github.com/facelessuser/pymdown-extensions/archive/7.0.0.tar.gz
	sha256sums = 7f0b3237bd6692cbe6a704476389691dbee07866bc866e431ebe0a987891ab21

pkgname = pymdown-extensions

