pkgbase = gogh-git
	pkgdesc = Color Scheme for Gnome Terminal, Pantheon Terminal and Tilix
	pkgver = b83978aacadc17614023e83cf71a69762c1904de
	pkgrel = 1
	url = https://github.com/Gogh-Co/Gogh
	arch = any
	license = MIT
	makedepends = git
	depends = dconf
	depends = wget
	depends = util-linux-libs
	source = git+https://github.com/Gogh-Co/Gogh.git
	sha256sums = SKIP

pkgname = gogh-git
