pkgbase = gogh-git
	pkgdesc = Color Scheme for Gnome Terminal, Pantheon Terminal and Tilix
	pkgver = 3918da00fac358e7169b17d69832e426a8cc2744
	pkgrel = 1
	url = https://github.com/Gogh-Co/Gogh
	arch = any
	license = MIT
	makedepends = git
	depends = dconf
	depends = wget
	depends = util-linux-libs
	source = git+https://github.com/Gogh-Co/Gogh.git
	sha256sums = SKIP

pkgname = gogh-git
