# cleanup script
cleanup.sh

# makepkg directory
*/pkg/*
*/src/*

# Binary and source packages
*.zst
*.tar.xz
*.tar.gz
*.tar.bz2
*.zip
*.tar
*.7z
*.rpm
*.deb
*.exe
*.tgz
*.run
# Backup files
*~
# Signatures
*.sig
*.asc

# IDE
.idea/

# nvchecker
/versions_new.json
/versions_flaky_new.json