pkgbase = intellij-idea-ultimate-edition
	pkgdesc = An intelligent IDE for Java, Groovy and other programming languages with advanced refactoring features intensely focused on developer productivity.
	pkgver = 2024.3.4
	pkgrel = 1
	url = https://www.jetbrains.com/idea/
	arch = x86_64
	arch = aarch64
	license = custom:commercial
	provides = intellij-idea-ultimate-edition-jre
	conflicts = intellij-idea-ultimate-edition-jre
	options = !strip
	source = jetbrains-idea.desktop
	sha256sums = 83af2ba8f9f14275a6684e79d6d4bd9b48cd852c047dacfc81324588fa2ff92b
	source_x86_64 = https://download.jetbrains.com/idea/ideaIU-2024.3.4.tar.gz
	sha256sums_x86_64 = 3765f4619f7ab8c28a6d523f741a4492d31d7d7d9ac8f5e7d8212dd2a71fdf9c
	source_aarch64 = https://download.jetbrains.com/idea/ideaIU-2024.3.4-aarch64.tar.gz
	source_aarch64 = https://cache-redirector.jetbrains.com/intellij-jbr/jbr-21.0.6-linux-aarch64-b895.91.tar.gz
	source_aarch64 = https://github.com/JetBrains/intellij-community/raw/master/bin/linux/aarch64/fsnotifier
	sha256sums_aarch64 = 6928108d6481f1c827a6a5c994cd225229b9131b53f0c8dc03854aa585006648
	sha256sums_aarch64 = b80415459b5cd8be6075916f606ac5c4b2545f94d0194883cb0a371df8ddefe9
	sha256sums_aarch64 = eb3c61973d34f051dcd3a9ae628a6ee37cd2b24a1394673bb28421a6f39dae29

pkgname = intellij-idea-ultimate-edition
	depends = giflib
	depends = libxtst
	depends = libxrender
	optdepends = intellij-idea-ultimate-edition-jre: JetBrains custom JRE (Recommended)
	optdepends = java-environment: Required if intellij-idea-ultimate-edition-jre is not installed
	optdepends = libdbusmenu-glib: For global menu support
	backup = opt/intellij-idea-ultimate-edition/bin/idea64.vmoptions
	backup = opt/intellij-idea-ultimate-edition/bin/idea.properties
