pkgbase = intellij-idea-ultimate-edition
	pkgdesc = An intelligent IDE for Java, Groovy and other programming languages with advanced refactoring features intensely focused on developer productivity.
	pkgver = 2024.3.2.1
	pkgrel = 2
	url = https://www.jetbrains.com/idea/
	arch = x86_64
	arch = aarch64
	license = custom:commercial
	provides = intellij-idea-ultimate-edition-jre
	conflicts = intellij-idea-ultimate-edition-jre
	options = !strip
	source = jetbrains-idea.desktop
	sha256sums = 83af2ba8f9f14275a6684e79d6d4bd9b48cd852c047dacfc81324588fa2ff92b
	source_x86_64 = https://download.jetbrains.com/idea/ideaIU-2024.3.2.1.tar.gz
	sha256sums_x86_64 = 2fba2ff7f4d7c799b4b5c474827ff8253eea37d22ed7a3dd25a2ab9a38587a26
	source_aarch64 = https://download.jetbrains.com/idea/ideaIU-2024.3.2.1-aarch64.tar.gz
	source_aarch64 = https://cache-redirector.jetbrains.com/intellij-jbr/jbr-21.0.5-linux-aarch64-b762.40.tar.gz
	source_aarch64 = https://github.com/JetBrains/intellij-community/raw/master/bin/linux/aarch64/fsnotifier
	sha256sums_aarch64 = 8d9ee909c39d396091439ecebc691e92200ef485d179a8f1d114a7d311d3ae0f
	sha256sums_aarch64 = bd08a3611e95b0b426c5eb9e197f42d64f01b8fe0c6ccd84e2694b1edff4c80f
	sha256sums_aarch64 = eb3c61973d34f051dcd3a9ae628a6ee37cd2b24a1394673bb28421a6f39dae29

pkgname = intellij-idea-ultimate-edition
	depends = giflib
	depends = libxtst
	depends = libxrender
	optdepends = intellij-idea-ultimate-edition-jre: JetBrains custom JRE (Recommended)
	optdepends = java-environment: Required if intellij-idea-ultimate-edition-jre is not installed
	optdepends = libdbusmenu-glib: For global menu support
	backup = opt/intellij-idea-ultimate-edition/bin/idea64.vmoptions
	backup = opt/intellij-idea-ultimate-edition/bin/idea.properties
