pkgbase = visual-studio-code-insiders-bin
	pkgdesc = Visual Studio Code Insiders (vscode): Editor for building and debugging modern web and cloud applications (official binary version)
	pkgver = 1786101681
	pkgrel = 1
	url = https://code.visualstudio.com/
	install = visual-studio-code-insiders-bin.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = custom: commercial
	depends = libxkbfile
	depends = gnupg
	depends = gtk3
	depends = libsecret
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc
	depends = lsof
	depends = shared-mime-info
	depends = xdg-utils
	depends = alsa-lib
	optdepends = glib2: Needed for move to trash functionality
	optdepends = libdbusmenu-glib: Needed for KDE global menu
	optdepends = org.freedesktop.secrets: Needed for settings sync
	optdepends = icu69: Needed for live share
	provides = code-insiders
	provides = vscode-insiders
	conflicts = code-insiders
	options = !strip
	source = visual-studio-code-insiders-bin.sh
	sha256sums = bf8abef6671392bf1f11d203fd940cc44e764e9c6352be7799880535c2f15087
	source_x86_64 = code_x64_1786101681.deb::https://vscode.download.prss.microsoft.com/dbazure/download/insider/36cb0da730a61b80beb0e12f31c8f915ed0afebb/code-insiders_1.133.0-1786101681_amd64.deb
	sha256sums_x86_64 = d2f314b1b986ccec52a928a98d3729a3fdd7ee34c35f4bc60bdad28f3d3ad2e4
	source_aarch64 = code_arm64_1786101664.deb::https://vscode.download.prss.microsoft.com/dbazure/download/insider/36cb0da730a61b80beb0e12f31c8f915ed0afebb/code-insiders_1.133.0-1786101664_arm64.deb
	sha256sums_aarch64 = a04faddb5f019663a7c68d0e9bf67e676cd73b3a6b422e31ef33f6ceace916fe
	source_armv7h = code_armhf_1786101497.deb::https://vscode.download.prss.microsoft.com/dbazure/download/insider/36cb0da730a61b80beb0e12f31c8f915ed0afebb/code-insiders_1.133.0-1786101497_armhf.deb
	sha256sums_armv7h = b7c29b10a36908e244064a3ad8fe1aa99a603e34f8578857ea6cecdcfaef1f13

pkgname = visual-studio-code-insiders-bin
