pkgbase = visual-studio-code-insiders-bin
	pkgdesc = Visual Studio Code Insiders (vscode): Editor for building and debugging modern web and cloud applications (official binary version)
	pkgver = 1785886416
	pkgrel = 1
	url = https://code.visualstudio.com/
	install = visual-studio-code-insiders-bin.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	license = custom: commercial
	depends = libxkbfile
	depends = gnupg
	depends = gtk3
	depends = libsecret
	depends = nss
	depends = gcc-libs
	depends = libnotify
	depends = libxss
	depends = glibc
	depends = lsof
	depends = shared-mime-info
	depends = xdg-utils
	depends = alsa-lib
	optdepends = glib2: Needed for move to trash functionality
	optdepends = libdbusmenu-glib: Needed for KDE global menu
	optdepends = org.freedesktop.secrets: Needed for settings sync
	optdepends = icu69: Needed for live share
	provides = code-insiders
	provides = vscode-insiders
	conflicts = code-insiders
	options = !strip
	source = visual-studio-code-insiders-bin.sh
	sha256sums = bf8abef6671392bf1f11d203fd940cc44e764e9c6352be7799880535c2f15087
	source_x86_64 = code_x64_1785886416.deb::https://vscode.download.prss.microsoft.com/dbazure/download/insider/f4850e0faa6aaab8894a7c08f56891c6cd2ec1f6/code-insiders_1.133.0-1785886416_amd64.deb
	sha256sums_x86_64 = b010237a048c70bb6afb0855dffc68b0e14c72d2f31dacb869eaca0b05a83356
	source_aarch64 = code_arm64_1785886402.deb::https://vscode.download.prss.microsoft.com/dbazure/download/insider/f4850e0faa6aaab8894a7c08f56891c6cd2ec1f6/code-insiders_1.133.0-1785886402_arm64.deb
	sha256sums_aarch64 = dde97ee587e9bb8400f39216bf4814d7f3647c7d774da8ae4dbd4b45ad78b224
	source_armv7h = code_armhf_1785886251.deb::https://vscode.download.prss.microsoft.com/dbazure/download/insider/f4850e0faa6aaab8894a7c08f56891c6cd2ec1f6/code-insiders_1.133.0-1785886251_armhf.deb
	sha256sums_armv7h = 6689e00ab94b36c98fbc39ad1c29fb195861bb3d015a1426593ef13b75c6fe30

pkgname = visual-studio-code-insiders-bin
