pkgbase = openscad-bosl2
	pkgdesc = The Belfry OpenSCAD Library v2.0
	pkgver = 2.0.748
	pkgrel = 1
	url = https://github.com/BelfrySCAD/BOSL2
	arch = any
	license = BSD-2-Clause
	depends = openscad
	source = openscad-bosl2-2.0.748.tar.gz::https://github.com/BelfrySCAD/BOSL2/archive/refs/tags/v2.0.748.tar.gz
	sha256sums = d530ec04996094e190c03ee03d1a4a611183e0e9e18370d0be61fd0130f81be3

pkgname = openscad-bosl2
