pkgbase = open-code-review
	pkgdesc = AI-powered code review CLI (Alibaba)
	pkgver = 1.8.10
	pkgrel = 1
	url = https://github.com/alibaba/open-code-review
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = go>=1.25
	makedepends = git
	depends = glibc
	source = open-code-review-1.8.10.tar.gz::https://github.com/alibaba/open-code-review/archive/refs/tags/v1.8.10.tar.gz
	sha256sums = e6a69f15e74c13b3ef455b2df4e51d69d88057f07ecf2d64f20d4a02673a1756

pkgname = open-code-review
